<h1><%= @post.title %></h1>

<% if @post.wine.present? %>
  <p>
    <strong>Wine:</strong>
    <%= link_to @post.wine.name, wine_path(@post.wine) %>
    (<%= @post.wine.varietal %>, <%= @post.wine.vintage %>)
  </p>
<% end %>

<p><strong>Rating:</strong> <%= @post.rating %>/10</p>

<%= image_tag @post.image if @post.image.attached? %>

<p><strong>Tasting Notes:</strong> <%= @post.text %></p>

<% if current_user == @post.user %>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Delete', post_path(@post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
<% end %>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong><%= comment.user.first_name %> <%= comment.user.last_name %>:</strong>
    <%= comment.body %>
    <% if current_user == comment.user %>
      <%= link_to 'Delete', post_comment_path(@post, comment), data: { turbo_method: :delete, turbo_confirm: 'Delete this comment?' } %>
    <% end %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :body, "Your comment" %><br>
    <%= f.text_area :body, rows: 3 %>
  </p>
  <%= f.submit "Post Comment" %>
<% end %>

<%= link_to 'Log Out', logout_path, data: { turbo_method: :delete } %>
<%= link_to 'My Profile', user_path(current_user) %>
